body {
  background-color: rgb(0, 0, 0);
  color: gold;
  font-family: sans-serif;
  font-weight: bold;
  background-image: url("C:/Users/noma_/Documents/Coding/React/amg/src/images/stars.jpg");
}

header {
  border-bottom: 5px solid;
  width: 100%;
  margin: 0 auto;
  height: 105px;
  display: flex;
}
.header {
  margin: 0 auto;
  flex-basis: 100%;
  flex-shrink: 1;
}
.logo {
  width: fit-content;
  position: relative;
  float: left;
  height: 100px;
  width: 125px;
  padding-left: 20px;
}
.menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu-item {
  display: flex;
  position: relative;
  flex-basis: 33%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 50%;
  width: 10%;
  border-radius: 50%;
  text-decoration: none;
  color: gold;
  margin-right: 10%;
  align-self: center;
  justify-self: center;
 
}
.menu-item:hover {
  background-color: grey;
  text-decoration: none;
  color: white;
  font-size: large;
  position: relative;
}
.login {
  position: absolute;
  right: 2%;
  top: 2%;
}
.main {
  height: 500px;
  width: 100%;

  margin: 25px auto;
}
.main-img {
  height: 300px;
  width: 300px;
}

.gallery-div {
  height: 200px;
  width: 200px;
  border: 5px solid;
  border-radius: 25%;
  display: inline-block;
  margin: 60px 70px;
}
.gallery-img {
  position: relative;
  border-radius: 23%;
  height: 100%;
  width: 100%;
}
.gallery-div:hover {
  position: relative;
  bottom: 10px;
  height: 205px;
  width: 205px;
}
.gallery {
  width: fit-content;
  margin: 0 auto;
}
.fa-angle-left {
  font-size: 50px;
  position: relative;
  bottom: 55%;
  padding-left: 15px;
  z-index: 2;
}
.fa-angle-right {
  font-size: 50px;
  position: relative;
  float: right;
  bottom: 55%;
  padding-right: 15px;
  z-index: 2;
}
.fa-angle-left:hover {
  font-size: 80px;
  cursor: pointer;
}
.fa-angle-right:hover {
  font-size: 80px;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
}
.coach-profile {
  display: inline-block;
  width: 70%;
  height: 200px;
  border: 1px solid;
  margin: 45px;
  background-color: grey;
  font-family: cursive;
  overflow: auto;
}

@media (max-width: 1221px) {
  .coach-profile {
    font-size: 15px;
  }
}
@media (max-width: 1100px) {
  .gallery {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
  }
  .coach-profile {
    font-size: 15px;
  }
}
@media (max-width: 1019px) {
  .app {
    width: 1019px;
  }
  .main {
    width: 100%;
  }
  .gallery {
    display: flex;
  }
  .gallery-img {
    flex-shrink: 1;
  }
  .coach-profile {
    font-size: 13px;
  }
}
@media (max-width: 746px) {
  .coach-name {
    font-size: small;
    font-family: serif;
  }
  .coach-profile {
    font-size: 12px;
  }
}
@media (max-width: 686px) {
  .coach-name {
    font-size: 20px;
  }

  .coach-profile {
    font-size: 1px;
  }
}

@media (max-width: 644px) {
  .coach-profile {
    width: 55%;
  }
  .coach-img {
    width: 100px;
    display: block;

  }
  .menu{
    font-size: 16px;
  }
  
}
@media (max-width: 425px){

.coach-profile{
display: flex;
flex-direction: column;
font-size: 16px;
margin-left: 140px;
}
.coach-img{
  width: 100%;
border: 1px solid ;
 
}
.coach-img img{
  width: 230px;
}

}
.prefix {
  position: relative;
  float: left;
  padding-left: 10px;
  top: 80px;
  height: fit-content;
  font-size: 100px;
}
.coach-name {
  font-size: 30px;
  display: inline-block;
}
.coach-img {
  height: 100%;
  width: 30%;
  display: inline-block;
  float: left;
}



.coach-bio {
  width: 70%;
  display: inline-block;
  padding-left: 5px;
}
.title {
  width: fit-content;
  margin: 0 auto;
  font-size: 50px;
  padding-top: 25px;
}
.programs {
  width: 75%;
  margin: 0 auto;
  padding-top: 25px;
}
.image-caption {
  background-color: hsl(0, 0%, 17%);
  padding: 0 37px;
  font-size: 25px;
  position: relative;
  bottom: 30%;
  margin: 0 auto;
  opacity: 0;
}

.social-title {
  font-size: 50px;
  width: fit-content;
  margin: 25px auto;
}
.fa-instagram {
  margin-left: 10px;
  font-size: 50px;
}
.coach-section {
  display: flex;
  flex-direction: column;
}